<nav class="navbar navbar-expand-lg mb-3 navbar-light font-weight-bold bg-papyrus border-bottom border-warning">
    <a class="navbar-brand" href="/">
        <img id="brand-img" class="my-0 ml-3 mr-auto p-0 h1" src="/assets/images/navbar-brand.png" alt="foodee">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-tabs border-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/api">View All Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/create">Add a New Recipe</a>
            </li>
        </ul>
        {{!-- <form class="form-inline my-2 ml-auto my-lg-0">
            <input class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0 rounded-0" type="submit">Search</button>
        </form> --}}
    </div>
</nav>