{{> navbar-standard }}

<div class="container justify-content-center px-auto text-center">
    <div class="jumbotron mx-auto w-100 bg-papyrus border border-warning rounded-0">
        <h1>Invalid Request</h1>
        <hr>
        <img class="w-75 h-auto border border-warning" src="/assets/images/database-error.jpg" alt="page not found">
    </div>
</div>