{{> navbar-standard }}


<div class="container justify-content-center px-auto text-center">
    <div class="jumbotron mx-auto w-100 bg-papyrus border border-warning rounded-0">
        <h1 class="font-weight-normal">
            504 - Gateway Timeout
        </h1>
        <hr>
        <img class="error_image border w-50 h-auto border-warning" src="/assets/images/error504.jpg" alt="Oops">
    </div>
</div>